*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F9F9 ;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28B463 ;
    width: 100%;
}

.header1.nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.header1 .nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.header1 .nav ul li{
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    margin: 30px;
}
.header1 .nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

    
}
.logo{
    font-size: 40px;
    margin-left: 100px;
    color: #DFFF00 ;
}
.header1 .nav a:hover{
    color: #DFFF00;
}
.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-top: 5px;
}
.header2 .nav1{
    
    display: flex;
    justify-content: space-between;
  

    
}
.header2 .nav1 ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 40px;
    
}
.header2 .nav1 ul li {
    list-style: none;
    justify-content: space-around;
    padding: 10px;
}
a{
    text-decoration: none;
}
.header2 .nav1 ul li a{
    color: white;
    padding: 20px;
    
}

